:root{
    --primary-color:#ea3333
}

header{
    font-size:2em;
    padding:10px;
    text-align:center
}

body
{background-color:#fff;
    color:var(--primary-color);
    font-size:2rem
}

h1{
    text-align:left;
    padding:10px
}

p{
    text-align:left
}
.pokemon-modal-image {
    width: 30%;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
    text-align: center;
}

nav{
    background-color:#add8e6
}

button.btn-primary{
    text-transform:capitalize;
    margin:10px;
    min-width:200px;
    border-radius: 50px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
    background-color:#add8e6;
    color: black;

}
